<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>끼리네 책방</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>



<!-- Main Contents-->

<body>
    <!-- JS Query-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <h1 class="header">끼리네 책방</h1>
    <div class='kirri'><img src="https://mblogthumb-phinf.pstatic.net/20160526_270/rlatnals8712_1464229249141IftP9_PNG/2016-05-26_11%3B07%3B12.PNG?type=w2" alt="Simply Easy Learning" width="300"
         height="200"> </div>
    <!-- Nav Bar-->
     
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">홈</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'new' %}">리뷰쓰기<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">수정하기</a>
                </li>
              </ul>
            </div>
          </nav>
{% block content %}
    <h2 class='review_list'>리뷰 목록</h2>
        <table>
            <th>
                <td>제목</td>
                <td>가격</td>
                <td>점수</td>
            </th>
          </div>
            {% for post in posts %}
            <tr>
                <td></td>
                <td><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></td>
                <td>{{ post.price }}</td>
                <td>{{ post.score }}</td>
            </tr>   
            {% endfor %}
        </table>
    <a class='write_review' href="{% url 'new' %}">리뷰 쓰기</a>
{% endblock %}
</body>
</html>